@font-face {
    font-family: 'barca_13';
    src: url("../fonts/barcelona_2013_by_hd.ttf");
}


/*BLOCK TICKET*/
#block_buy_ticket {

    width: 950px;
    height: 350px;
    margin-left: 350px;
    margin-top: 60px;
    border-radius:30px ;
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: fixed;
    z-index: 100;
    /*background: grey;*/
    display: flex;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    flex-direction:row ;
    background-repeat: no-repeat;
    background-size: cover;

    /*background: rgba(0, 0, 0, 0.4);*/
    background-image: url(../images/bgi_for_buying_tickets.jpg);
    background-position: center;


}



#block_buy_ticket.active {
    opacity: 1;
    visibility: visible;
}
/*MATCH CARDS*/
.match-card_vip {
    background: linear-gradient(135deg, #0A0E2A, #1D3C78);
    color: white;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    width: 100%;
    height: 320px;
    max-width: 320px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    /*margin: 20px auto;*/
    line-height: 1.5;
    border: 1px solid #223366;
    transition: all 1s ease-in-out;
    display: none;
}
.match-card {
    background: linear-gradient(135deg, #0A0E2A, #1D3C78);
    color: white;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    width: 100%;
    height: 320px;
    max-width: 320px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    /*margin: 20px auto;*/
    line-height: 1.5;
    border: 1px solid #223366;
    transition: all 1s ease-in-out;
    display: none;
}
.match-card_vip:hover {
    cursor: pointer;
    scale: 1.08;
    visibility: visible;
}
.match-card:hover {
    cursor: pointer;
    scale: 1.08;
    visibility: visible
}

.match-note {
    font-size: 13px;
    color: #bbbbbb;
    margin-bottom: 6px;
    font-style: italic;
}

.match-date,
.match-ko,
.match-league,
.matchday,
.match-venue {
    margin: 3px 0;
    font-size: 15px;
}

.match-league {
    font-weight: bold;
    color: #FFD700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.match-teams {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.team {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.team-home {
    color: #A50044; /* Barca гранатовый */
}

.team-away {
    color: #FFA500; /* Оранжевый для Валенсии */
}

.vs {
    font-size: 15px;
    color: #ffffff;
    font-weight: normal;
    opacity: 0.7;
}

/*VIP OR BASIC*/
.container_vip_basic {
    width: 700px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    margin-left: 100px;

}
.item_vip_basic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}
.item_vip_basic p {
    font-size: 34px;
    text-align: center;
    font-family: barca_13, sans-serif;
    color: #6a11cb; /* фиолетовый из градиента */
    text-shadow: 1px 1px 6px rgba(0,0,0,0.8);
    transition: all 0.6s ease;
}

#vip_tickets,
#basic_tickets {
    padding: 14px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 14px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    font-family: 'barca_13', sans-serif;
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(100, 100, 255, 0.4);
    border: none;
}

#vip_tickets:hover,
#basic_tickets:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(100, 100, 255, 0.7);
}


/*#vip_tickets,*/
/*#basic_tickets {*/
/*    padding: 14px 40px;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    border-radius: 12px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    transition: all 0.3s ease;*/
/*    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);*/
/*    background: linear-gradient(135deg, #A50044, #004D98); !* Барса: гранатовый-синий *!*/
/*    color: white;*/
/*    letter-spacing: 1px;*/
/*    font-family: 'barca_13', sans-serif;*/
/*    text-transform: uppercase;*/
/*}*/
/*#vip_tickets:hover,*/
/*#basic_tickets:hover {*/
/*    transform: scale(1.05);*/
/*    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);*/
/*    opacity: 0.95;*/
/*}*/


.item_vip_basic p:hover {
    scale: 1.05;
}

/* HEADER */

.header {
    height: 80px;
    background: #0A0E2A;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;

}
.container_1 {
    max-width: 1550px;
    height: 100%;
    width: 100%;

}
#btn-get {
    margin-left: 920px;
    width: 100px;

}
.inner_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 118px;
    font-family: 'barca_13', sans-serif;
}
.header_content:hover {
    scale: 1.1;
}


/* LOGOTYPE */

.logotype img {
    width: 80px;
    height: 80px;
}
.logotype {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    height: 60px;
    width: fit-content;
    padding: 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
}
.logotype:hover {
    opacity: 1.1;
}

/* HEADER MENU */

.menu {
    display: flex;
    justify-content: space-around;
    width: 600px;
    position: absolute;
    font-size: 24px;
}

.menu_link a {
    text-transform: uppercase;
    color: #8B1E3F;
}

.menu_link:hover {
    scale: 1.1;

}

/* MAIN BLOCK */

.main_block {
    padding: 285px 0;
    /*background: black;*/
    background: url('../images/camp_nou_main.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* BUTTONS COLOR PICKER */

.colors-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btn-color {
    border-radius: 20px;
    border-color: white !important;
}

/* FOOTER */

.footer {
    background: #2c2d2f;
    width: 100%;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 600;
}


/* SLIDER BLOCK */

.slider_block {
    padding: 100px 0;
    /*background: black;*/
    background: url('../images/camp_nou.jpg') no-repeat center center fixed;
    background-size: cover;

}

.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 3px solid var(--orange);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.slide {
    position: absolute;
    /*top: 60px;*/
    left: -150px;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.slide_card {
    color: white;
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
.slide_card img {
    width: 250px;
    height: 230px;
    object-fit: cover;
    background-repeat:no-repeat;
    background-position: center;
    border-radius: 50px;
    margin-bottom: 20px;
}

.slide_card h3 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.slide_card p {
    font-size: 40px;
    font-family: barca_13, sans-serif;
    text-align: justify;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}



.slide.active_slide {
    display: block;
}

/* VIDEO BLOCK */

.block_video {
    /*background: rgba(255, 255, 255, 0.54);*/
   padding: 100px 0;
    background: #000;
    position: relative;

}

.inner_block_video {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* MODAL */

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
}

.modal_dialog {
    max-width: 500px;
    margin: 200px auto;
}

.modal_content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: black;
    border: 2px solid var(--orange);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: red;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal_title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.modal_content label, .btn_min {
    width: 100% !important;
    margin-top: 10px;
}

.modal_content input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.modal_content input:hover {
    transform: scale(1.1);
}

/*-------BOTTLE-------*/

.bottle {
    background: black;
    padding: 100px 0;
}

.bottle_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bowl {
    position: relative;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: 8px solid transparent;
    animation: animate 5s linear infinite;
    transform-origin: bottom center;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(22deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-22deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.bowl::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 30px;
    border: 15px solid #444;
    border-radius: 50%;
    box-shadow: 0 10px #222;

}

.bowl::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 60px;
    background: rgba(255, 255, 255, 0.05);
    transform-origin: center;
    animation: animatebowlshadow 5s linear infinite;
    border-radius: 50%;
    animation-play-state: running;

}


@keyframes animatebowlshadow {
    0% {
        left: 50%;
        width: 150px;
        height: 60px;
    }
    25% {
        left: 55%;
        width: 140px;
        height: 65px;
    }
    50% {
        left: 50%;
        width: 150px;
        height: 60px;
    }
    75% {
        left: 45%;
        width: 140px;
        height: 65px;
    }
    100% {


    }
}


.liquid {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #1ae907;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #1ae907);
    transform-origin: top center;
    animation: animateliquid 5s linear infinite;
    animation-play-state: running;
}

@keyframes animateliquid {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-22deg);
    }
    30% {
        transform: rotate(-23deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(22deg);
    }
    80% {
        transform: rotate(23deg);
    }
    100% {
        transform: rotate(0deg);
    }


}

.liquid::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: #15be05;
    border-radius: 50%;
    filter: drop-shadow(0 0 80px #15be05);
}

.shadow {
    position: absolute;
    top: calc(50% + 150px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    animation: animateshadow 5s linear infinite;
    animation-play-state: running;

}

@keyframes animateshadow {
    0% {
        left: 50%;
        width: 260px;
        height: 40px;
        top: calc(50% + 150px);

    }

    25% {
        left: 55%;
        width: 265px;
        height: 30px;
        top: calc(50% + 130px);

    }
    50% {
        left: 50%;
        width: 260px;
        height: 40px;
        top: calc(50% + 150px);

    }
    75% {
        left: 45%;
        width: 265px;
        height: 30px;
        top: calc(50% + 130px);

    }
    100% {
    }
}
#block_buy_ticket {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

#block_buy_ticket.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.vertical-line {
    width: 0px;
    height: 700px; /* или auto, или 100% — в зависимости от контекста */
    background-color: black;
    margin: -268px -10px; /* отступы слева и справа */
    position: absolute;
    top: 0;
    right: 450px;

}
.img_right {
    position: absolute;
    margin: -50px -10px;
    top: 49px;
    right: 120px;
}

.title_cont {
    position: absolute;
    font-size: 50px;
    font-family: 'barca_13', sans-serif;
    margin-left: 496px;
}

.inner_footer:nth-child(1) {
    opacity: 0.1;
}
.inner_footer img {
    opacity: 0.5;
    transition: all 1s ease;
}
.inner_footer img:hover {
    opacity: 1;
    transform: scale(1.2);
}



.container_follow {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 65px auto;
    padding-right: 0px;
}

h1 {
    color: #004D98;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.social-block {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

.social-block:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(119, 21, 21), 0 4px 6px rgb(119, 21, 21);

}

.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.twitter {
    background-image: url('https://cdn-icons-png.flaticon.com/512/733/733579.png');
}

.tiktok {
    background-image: url('https://cdn-icons-png.flaticon.com/512/3046/3046121.png');
}

.spotify {
    background-image: url('https://cdn-icons-png.flaticon.com/512/2111/2111624.png');
}

.discord {
    background-image: url('https://cdn-icons-png.flaticon.com/512/3670/3670157.png');
}

.social-info {
    flex-grow: 1;
}

.social-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 3px;
}

.social-handle {
    color: #666;
    font-size: 14px;
}
.span_media {
    color: white;
    font-family: 'barca_13', sans-serif;
    font-size: 40px;
    padding-bottom: 40px;
    position: absolute;
    top: 0;
    left: 485px;
    padding-top: 40px;
}